{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}">
  <link rel="stylesheet" href="{%static 'css/jquery-ui.css'%}">
    <link rel="stylesheet" href="{%static 'style.css'%}">
</head>
<body>
<header>
    <section class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li><a href="#">Cuenta</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="icon">
                       <a href="#"><i class="fa fa-facebook"></i></a>
                       <a href="#"><i class="fa fa-twitter"></i></a>
                       <a href="#"><i class="fa fa-google-plus"></i></a>
                       <a href="#"><i class="fa fa-linkedin"></i></a>
                       <a href="#"><i class="fa fa-wifi"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                   <div class="a-right">
                        <a href="#"><p><span><i class="fa fa-user"></i></span>Entrar</p></a>
                        <a href="#"><p><span><i class="fa fa-pencil"></i></span>Registrarse</p></a>
                   </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                   <div class="logo">
                    <a href="#"><img src="https://i.ibb.co/tZKjXn7/Logo.png" alt="Logo" height="110" width="160" ></a>
                   </div>
                </div>
                <div class="col-md-7">
                    <ul class="nav navbar-nav">
                <li class="active"><a href="{%url 'webstore:kayu'%}">INICIO</a></li>
                      <li><a href="{%url 'webstore:shop'%}">TIENDA</a></li>
                    <!--  <li><a href="{%url 'webstore:blog'%}">BLOG</a></li> -->
                     <li><a href="{%url 'webstore:faq'%}">FAQ</a></li>
                     <!-- <li><a href="#">FEATURE</a></li> -->
                      <li><a href="{%url 'webstore:soporte'%}">SOPORTE</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <div class="cart">
                        <!-- <p><i class="fa fa-cart-arrow-down"></i><sup>0</sup> &#36;&nbsp;&nbsp;0.00</p> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                   <div class="header-part">
                    <p>INICIO &nbsp;&nbsp;&nbsp;<span><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;FAQ</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<section class="faq-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>FAQ </h2>
            </div>
        </div>
        <div class="accordion-start">
        <div class="row">
            <div class="col-md-3">
                <div class="desion">
                 <!--   <p>ALL</p>
                    <p>DESIGN</p>
                    <p>FASHION</p>
                    <p>PHOTOGRAPHY</p>
                    <p>TECNICAL </p>
                    <p>VIDEO</p> -->
                </div>
            </div>
            <div class="col-md-9">
                <div id="accordion">
                    <h3>Como comprar? </h3>
                    <div>
                        <p>Es muy sencillo, agregas el producto al carrito, registras una cuenta en STOREG, llenas los formularios con tus datos y finalizas tu compra. Te dejamos un video sobre</p>

                    </div>
                    <h3>Cuanto tarda el envio? </h3>
                    <div>
                        <p>El envío tarda de cero a 3 días hábiles. Hay productos que podemos entregar el mismo día en nuestras oficinas administrativas. Los demás productos los despachamos en menos de tres días.</p>
                        </div>
                    <h3>Puedo recoger un producto en sus oficinas?</h3>
                    <div>
                        <p>Sí, seleccionas la opción: "Recoger en oficinas administrativas". Te avisaremos por correo y mensaje de texto cuando tu pedido esté listo para recoger, luego de los respectivos procesos del departamento de operaciones.</p>
                    </div>
                    <h3>Los Productos son nuevos y originales?</h3>
                    <div>
                        <p>Sí, los productos son totalmente nuevos y 100% originales. Todos nuestros productos cuentan con garantía. La garantía varía según el producto, por favor consulta la página del producto para saber cuantos meses de garantía tiene.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>

<footer>
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>INFORMACION</h2>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                </div>
                <div class="col-md-4 center">
                    <h2>INFORMACION</h2>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                </div>
                <div class="col-md-4">
                    <div class="footer-contact">
                        <h2>CONTACT US</h2>
                        <a href="#"><p><i class="fa fa-map-marker" aria-hidden="true"></i>Baja Verapaz , Guatemala</p></a>
                        <a href="#"><p><i class="fa fa-phone" aria-hidden="true"></i>+502 01761070282</p></a>
                        <a href="#"><p><i class="fa fa-envelope" aria-hidden="true"></i>zerosama69X@gmail.com</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
       <div class="footer_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="copy_txt">
                        <p>Copyright © 2014  Designed by <span>shawon</span></p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="footer_logo">
                        <img src="{%static 'img/fedex.png'%}">
                        <img src="{%static 'img/master-card.png'%}">
                        <img src="{%static 'img/paypal.png'%}">
                        <img src="{%static 'img/visa.png'%}">
                        <img src="{%static 'img/american-express.png'%}">
                        <img src="{%static 'img/dhl.png'%}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="{%static 'js/bootstrap.min.js'%}"></script>
  <script src="{%static 'js/jquery-ui.js'%}"></script>
 <script>
      jQuery(document).ready(function(){
         var icons = {
      header: "ui-icon-circle-plus",
      activeHeader: "ui-icon-circle-minus"
    };
    $( "#accordion" ).accordion({
      icons: icons
    }); 
      })
    </script>
<script src="{%static 'js/active.js'%}"></script>
  
</body>
</html>