{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INICIO</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{%static 'style.css'%}">
</head>
<body>
<header>
    <section class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li><a href="#">Cuenta</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="icon">
                       <a href="#"><i class="fa fa-facebook"></i></a>
                       <a href="#"><i class="fa fa-twitter"></i></a>
                       <a href="#"><i class="fa fa-google-plus"></i></a>
                       <a href="#"><i class="fa fa-linkedin"></i></a>
                       <a href="#"><i class="fa fa-wifi"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                   <div class="a-right">
                        <a href="#"><p><span><i class="fa fa-user"></i></span>Entrar</p></a>
                        <a href="#"><p><span><i class="fa fa-pencil"></i></span>Registrarse</p></a>
                   </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                   <div class="logo">
                    <a href="#"><img src="https://i.ibb.co/tZKjXn7/Logo.png" alt="Logo" height="110" width="160" ></a>
                   </div>
                </div>
                <div class="col-md-7">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="{%url 'webstore:kayu'%}">INICIO</a></li>
                      <li><a href="{%url 'webstore:shop'%}">TIENDA</a></li>
                    <!--  <li><a href="{%url 'webstore:blog'%}">BLOG</a></li> -->
                     <li><a href="{%url 'webstore:faq'%}">FAQ</a></li>
                     <!-- <li><a href="#">FEATURE</a></li> -->
                      <li><a href="{%url 'webstore:soporte'%}">SOPORTE</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                   <div class="header-part">
                    <p>INICIO &nbsp;&nbsp;&nbsp;<span><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp QUIENES SOMOS</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<section class="slider">
 <img src="https://i.ibb.co/YP41nsh/1576575386-575032-1576577718-noticia-normal-recorte1.jpg" alt="1576575386-575032-1576577718-noticia-normal-recorte1" border="0">
    <h3>SOBRE NOSOTROS</h3>
</section>
<section class="our_skill">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text">
                    <h2>Quienes somos nosotros</h2>
                    <p>Somos una empresa de venta de productos de tecnología enfocada en
                        simplificar tu vida con la variedad de productos que nosotros te ofrecemos en nuestras tiendas.</p>
               <p>Nosotros ofrecemos una gran cantidad de productos que pueden serte
                   útil en tu vida cotidiana, productos que son de primera calidad y garantizados.</p>
                </div>
            </div>
            <div class="col-md-6">
                 <div class="progress_bar">
                  <h2>Nuestras Características</h2>
                  <p>Variedad de Productos</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:90%"></div>
                  </div>
                  <p>Calidad de los Productos</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:88%"></div>
                  </div>
                  <p>Conocimientos de Tecnologia</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:85%"></div>
                  </div>
                  <p>Trato a los Clientes</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
                  </div>
                  </div>
            </div>
        </div>
    </div>
</section>
<!--
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Features</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               <div class="text-img left">
                   <img src="img/logo-one.jpg">
                <h3>Tust Adrenalin</h3>
                <p>Lorem ipsum dolor sit amet, has et probatus tem, ad sea alii cetero scripserit. Ius accusa legendos omittantur cu,</p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="text-img center">
                   <img src="img/logo-one.jpg">
                <h3>Our Mission</h3>
                <p>Lorem ipsum dolor sit amet, has et probatus tem, ad sea alii cetero scripserit. Ius accusa legendos omittantur cu,</p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="text-img right">
                   <img src="img/logo-two.jpg">
                <h3>Fashion Style</h3>
                <p>Lorem ipsum dolor sit amet, has et probatus tem, ad sea alii cetero scripserit. Ius accusa legendos omittantur cu,</p>
               </div>
            </div>
        </div>
    </div>
</section> -->

<section class="team">
   <div class="clear"></div>
    <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h2>Equipo de Desarrollo y Fundadores</h2>
           </div>
       </div>
        <div class="row">
            <div class="col-md-3">
               <div class="teams">
                <img src="https://i.ibb.co/SdvwpG8/1200px-User-font-awesome-svg.png" alt="1200px-User-font-awesome-svg" width="130" height="240" border="0">
                <div class="icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Yona_AF </h3>
                <p>Director General</p>
            </div>
            <div class="col-md-3">
               <div class="teams">
                  <img src="https://i.ibb.co/SdvwpG8/1200px-User-font-awesome-svg.png" alt="1200px-User-font-awesome-svg" width="130" height="240" border="0">
                <div class="icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="overlay"></div>
            </div>
                <h3>TonyAGL</h3>
                <p>Director Creativo</p>
            </div>
            <div class="col-md-3">
               <div class="teams">
                  <img src="https://i.ibb.co/SdvwpG8/1200px-User-font-awesome-svg.png" alt="1200px-User-font-awesome-svg" width="130" height="240" border="0">
                <div class="icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Josue_TM</h3>
                <p>Asesor</p>
            </div>
            <div class="col-md-3">
               <div class="teams">
               <img src="https://i.ibb.co/SdvwpG8/1200px-User-font-awesome-svg.png" alt="1200px-User-font-awesome-svg" width="130" height="240" border="0">
                <div class="icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Chino</h3>
                <p>Director de Ventas</p>
            </div>
            <div class="col-md-3">
               <div class="teams">
                  <img src="https://i.ibb.co/SdvwpG8/1200px-User-font-awesome-svg.png" alt="1200px-User-font-awesome-svg" width="130" height="240" border="0">
                <div class="icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Yona_AF</h3>
                <p>Developer</p>
            </div>
            <div class="col-md-3">
               <div class="teams">
                <img src="https://i.ibb.co/SdvwpG8/1200px-User-font-awesome-svg.png" alt="1200px-User-font-awesome-svg" width="130" height="240" border="0">
                <div class="icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Yona_AF</h3>
                <p>Site Contributor</p>
            </div>
            <div class="col-md-3">
               <div class="teams">
                   <img src="https://i.ibb.co/SdvwpG8/1200px-User-font-awesome-svg.png" alt="1200px-User-font-awesome-svg" width="130" height="240" border="0">
                <div class="icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Z3Я0</h3>
                <p>GITHUB_Developer</p>
            </div>
            <div class="col-md-3">
               <div class="teams">
                    <img src="https://i.ibb.co/SdvwpG8/1200px-User-font-awesome-svg.png" alt="1200px-User-font-awesome-svg" width="130" height="240" border="0">
                <div class="icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="overlay"></div>
            </div>
                <h3>JAYDE</h3>
                <p>Bootstrap Developer</p>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>INFORMACION</h2>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                </div>
                <div class="col-md-4 center">
                    <h2>INFORMACION</h2>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                </div>
                <div class="col-md-4">
                    <div class="footer-contact">
                        <h2>CONTACT US</h2>
                        <a href="#"><p><i class="fa fa-map-marker" aria-hidden="true"></i>Baja Verapaz , Guatemala</p></a>
                        <a href="#"><p><i class="fa fa-phone" aria-hidden="true"></i>+502 01761070282</p></a>
                        <a href="#"><p><i class="fa fa-envelope" aria-hidden="true"></i>zerosama69X@gmail.com</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
       <div class="footer_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="copy_txt">
                        <p>Copyright © 2014  Designed by <span>shawon</span></p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="footer_logo">
                        <img src="{%static 'img/fedex.png'%}">
                        <img src="{%static 'img/master-card.png'%}">
                        <img src="{%static 'img/paypal.png'%}">
                        <img src="{%static 'img/visa.png'%}">
                        <img src="{%static 'img/american-express.png'%}">
                        <img src="{%static 'img/dhl.png'%}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>  
<script src="{%static 'js/bootstrap.min.js'%}"></script>
<script src="{%static 'js/active.js'%}"></script>
</body>
</html>