{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Page</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{%static 'style.css'%}">
</head>
<body>
<header>
    <section class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li><a href="#">Cuenta</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="icon">
                       <a href="#"><i class="fa fa-facebook"></i></a>
                       <a href="#"><i class="fa fa-twitter"></i></a>
                       <a href="#"><i class="fa fa-google-plus"></i></a>
                       <a href="#"><i class="fa fa-linkedin"></i></a>
                       <a href="#"><i class="fa fa-wifi"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                   <div class="a-right">
                        <a href="#"><p><span><i class="fa fa-user"></i></span>Entrar</p></a>
                        <a href="#"><p><span><i class="fa fa-pencil"></i></span>Registrarse</p></a>
                   </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                   <div class="logo">
                    <a href="#"><img src="https://i.ibb.co/tZKjXn7/Logo.png" alt="Logo" height="110" width="160" ></a>
                   </div>
                </div>
                <div class="col-md-7">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="{%url 'webstore:kayu'%}">INICIO</a></li>
                      <li><a href="{%url 'webstore:shop'%}">TIENDA</a></li>
                    <!--  <li><a href="{%url 'webstore:blog'%}">BLOG</a></li> -->
                     <li><a href="{%url 'webstore:faq'%}">FAQ</a></li>
                     <!-- <li><a href="#">FEATURE</a></li> -->
                      <li><a href="{%url 'webstore:soporte'%}">SOPORTE</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                   <div class="header-part">
                    <p>INICIO &nbsp;&nbsp;&nbsp;<span><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp     </span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<section class="slider error">
   <div class="container">
       <div class="row">
           <div class="col-md-4 col-md-offset-4">
        <img src="https://i.ibb.co/SmzsjZ5/Chemms.png" alt="Chemms" border="0">
            </div>
       </div>
       <div class="row">
           <div class="col-md-12">
               <div class="text">
                   <h2>Oops, A la pagina le esta dando amsiedad ....</h2>
                   <p>Parece que no se encontró nada en esta ubicación. Haga clic en el enlace de abajo para regresar a casa.</p>
                   <h4><span>INICIO</span></h4>
                    <form method="get" action="{%url 'webstore:kayu'%}">
                    </form>
               </div>
           </div>
       </div>
   </div>
</section>
<footer>
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>INFORMACION</h2>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                </div>
                <div class="col-md-4 center">
                    <h2>INFORMACION</h2>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>--------</p></a>
                </div>
                <div class="col-md-4">
                    <div class="footer-contact">
                        <h2>CONTACT US</h2>
                        <a href="#"><p><i class="fa fa-map-marker" aria-hidden="true"></i>Baja Verapaz , Guatemala</p></a>
                        <a href="#"><p><i class="fa fa-phone" aria-hidden="true"></i>+502 01761070282</p></a>
                        <a href="#"><p><i class="fa fa-envelope" aria-hidden="true"></i>zerosama69X@gmail.com</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
       <div class="footer_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="copy_txt">
                        <p>Copyright © 2014  Designed by <span>shawon</span></p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="footer_logo">
                        <img src="{%static 'img/fedex.png'%}">
                        <img src="{%static 'img/master-card.png'%}">
                        <img src="{%static 'img/paypal.png'%}">
                        <img src="{%static 'img/visa.png'%}">
                        <img src="{%static 'img/american-express.png'%}">
                        <img src="{%static 'img/dhl.png'%}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>
<script src="{%static 'js/active.js'%}"></script>
</body>
</html>